@import "@/styles/variables.scss";
.digital-panel {
  height: 180px;
  background-color: #f9f9f9;
  cursor: pointer;
  @include normalFlex();
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  .panel-left {
    .info {
      @include normalFlex();
      justify-content: flex-start;
      align-items: center;
    }

    .name {
      font-size: 32px;
      font-weight: bold;
      color: #000000;
      margin-left: 10px;
    }

    .desc {
      position: relative;
      // margin-top: 9px;
      font-size: 16px;
      color: rgba(0, 0, 0, 0.7);
    }

    .buy-now {
      display: block;
      margin-top: 16px;
      font-size: 24px;
      font-weight: bold;
      color: #000000;
      text-decoration: none;
    }
  }

  .panel-right {
    position: relative;
    width: 210px;
    height: 120px;

    .image1 {
      position: absolute;
      top: 15px;
    }

    .image2 {
      position: absolute;
      top: 0px;
      left: 50px;
      z-index: 1;
    }
    .image {
      position: absolute;
      top: 0;
      right: 10px;
      width: 35px;
      height: 120px;
      border: none;

      background: url("../../assets/images/pointlist.png") no-repeat 0 9999px;
      background-position: 0px -73px;
    }
  }
}
