@import "@/styles/variables.scss";

.wrapper {
  width: $contentWidth; // 1100px
  margin: 0 auto;
}

body {
  font-size: 14px;
  color: #333;
}

ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
